/* Estilos para enlaces dentro de la barra de navegación */
nav a {
  display: block;
  transition: transform 0.2s; /* Agrega una transición suave */
  text-decoration: none; /* Quita el subrayado de los enlaces */
}

nav a:hover {
  transform: scale(1.1); /* Aplica un efecto de escala al pasar el mouse */
}

/* Estilos para la barra de navegación */
.nav {
  display: flex;
  list-style: none;
  padding: 0;
}

/* Estilos para enlaces dentro de elementos de la barra de navegación */
.nav-item a {
  color: #ffffff;
  font-weight: bold; /* Grosor de texto negrita.*/
  transition: transform 0.2s; /* Agrega una transición suave */
  margin-right: 40px;
  font-family:' Tahoma';
  font-style: oblique;
  font-size: 20px;
  line-height: 10px; /* Ajusta la altura del texto */
}

/* Estilos para el contenedor de la barra de navegación */
.navbar-container {
  display: flex;
  justify-content:right; /* Izquierda el contenido del navbar */
  background-color: rgba(0, 0, 0, 0.493); /* Fondo semitransparente */
  padding: 10px; /* Espaciado interior para el contenido */
  border-radius: 10px; /* Bordes redondeados */
  margin-top: 10px; /* Agrega margen superior para separar de la parte superior */
  height: 40px; /* Ajusta la altura de la barra de navegación */
}


  